{{template "base" .}}

{{define "content"}}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">The Fractals</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Here is where I render various fractals. They fascinate me as they are a combination of art, math, and programming. This is a place to let your mind wander, and become inspired by the beautiful works.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-outline-secondary btn-lg px-4" href="/blog">Blog</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="/poems">Poems</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="/fractal">Fractals</a>
        </div>
    </div>
</div>
<div class="container">
    <img src="/fractal_render"/>
</div>
{{end}}