{{template "base" .}}

{{define "content"}}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Welcome To BadSushi.</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A cozy place where I develop and keep things I find interesting. This is meant to be a place of open ideology, where any idea or concept is welcome and is met with equal judgement. So, grab some coffee or tea and enjoy yourself.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-outline-secondary btn-lg px-4" href="/blog">Writings</a>
      <a class="btn btn-outline-secondary btn-lg px-4" href="/Catch_Phrase">Catch Phrase</a>
      <a class="btn btn-outline-secondary btn-lg px-4" href="/fractal">Fractals</a>
    </div>
  </div>
</div>
{{end}}