{{template "base" .}}

{{define "content"}}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">The Collection</h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">A place for me to collect my thoughts, my experiences, and tell of the daily life lesson from the mistakes I make so you don't have to.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a class="btn btn-outline-secondary btn-lg px-4" href="/blog">Blog</a>
          <a class="btn btn-outline-secondary btn-lg px-4" href="/poems">Poems</a>
          <a class="btn btn-outline-secondary btn-lg px-4" href="/fractal">Fractals</a>
      </div>
  </div>
</div>

<div class="container">
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="#">Programming</a>
      <a class="p-2 link-secondary" href="#">Machine Learning</a>
      <a class="p-2 link-secondary" href="#">Mathematics</a>
      <a class="p-2 link-secondary" href="#">Writing</a>
      <a class="p-2 link-secondary" href="#">Philosophy</a>
      <a class="p-2 link-secondary" href="#">Health</a>
      <a class="p-2 link-secondary" href="#">Finances</a>
      <a class="p-2 link-secondary" href="#">Lifestyle</a>
    </nav>
  </div>
</div>
  
<div class="container">
  <div class="row g-5">
    <div class="col-md-8">

      {{index .StringMap "post"}}

    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Hello, Ted here. I'm a developer of sorts. I code with a creative side. I love to learn and to contsantly push myself. That's why I'm trying out writing! So stay a while, and as always - grab some coffee or tea and enjoy!</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2021</a></li>
            <li><a href="#">February 2021</a></li>
            <li><a href="#">January 2021</a></li>
            <li><a href="#">December 2020</a></li>
            <li><a href="#">November 2020</a></li>
            <li><a href="#">October 2020</a></li>
            <li><a href="#">September 2020</a></li>
            <li><a href="#">August 2020</a></li>
            <li><a href="#">July 2020</a></li>
            <li><a href="#">June 2020</a></li>
            <li><a href="#">May 2020</a></li>
            <li><a href="#">April 2020</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="blog-footer text-center">
  <hr>
  <p>Hey There, enjoying yourself? Feel free to <a href="">buy me a coffee</a> if you think I should work harder.</p>
  <p>
      <a href="#">Back to top</a>
  </p>
</footer>
{{end}}