{{template "base" .}}

{{define "content"}}
<body class="d-flex h-100 text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" onclick="next_word()">
    <header class="mb-auto">
        <div>
        
        <nav class="nav nav-masthead justify-content-center float-md-end">
        </nav>
        </div>
    </header>

    <main class="px-3">
        <h1 id="word">{{index .StringMap "statement"}}</h1>
    </main>

    <footer class="mt-auto text-white-50">
        <p>Validated By Jacob Barton.</p>
    </footer>
    </div>
    
</body>

{{end}}